Windows Registry Editor Version 5.00

[HKEY_CLASSES_ROOT\.ldf]

[HKEY_CLASSES_ROOT\.ldf\shell]

[HKEY_CLASSES_ROOT\.ldf\shell\open]

[HKEY_CLASSES_ROOT\.ldf\shell\open\command]
@="silentcmd %TK_INSTALL_PATH%\\scripts\\lattice_diamond.cmd \"%1\""

