[Settings]
DriverPath1=C:\CCStudio_v3.1\drivers\TargetDB\
DriverPath2=C:\CCStudio_v3.1\drivers\
ImportPath=C:\CCStudio_v3.1\drivers\import\
[Recent File List]
File1=C:\CCStudio_v3.1\drivers\import\c64xx_seedxds510plus.ccs
